//  Foundation for Sites Settings
@import 'util/util';

// Global
// ---------

$black: #000000;
$white: #ffffff;
$body-background: $white;
$body-font-color: $black;
$body-font-family: 'Arial', Roboto, sans-serif;

// Init
// ---------

body {
  font-family: $body-font-family;
  color: $body-font-color;
  font-size: 14px;
  background-color: $body-background;
}