<div class="layout">
    <div class="layout__header">
        header
    </div>
    <!-- END .layout__header -->
    <div class="layout__body">
        body
    </div>
    <!-- END .layout__body -->
    <div class="layout__footer">
        footer
    </div>
    <!-- END .layout__footer -->
</div>
<!-- END .layout -->